* {
    background-color: green;
    color: white;
}

.head, .paragraph {
  text-align: center;
   
}

.image {
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 100px;
}

.head {
    color: white;
  font-size: 25px;
  text-decoration: underline; 
}

.nav {
    display: block;
    text-align: center;
    
}

h3 {
    display: inline-block;
    text-align: center;
    text-decoration: underline;
    
}

a {
    display: contents;
    
    
}