body {
    background-image: url("../images/raptor.png");
}

.text {
    position: absolute;
    color: red;
    background-color: white;
    border: 5px solid green;
    margin-left: 550px;
    

    
}

.graph {
    position: absolute;
    color: red;
    background-color: white;
    text-align: center;
    border: 5px solid blue;
    margin: 100px;
    padding: 20px;
    word-spacing: 5px;
}

.nav {
    
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  
  
}

.nav a {
    color: red;
}

